img {
  height: 300px;
  width: 201px;
  padding-bottom: 10px;
}

#container {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  border: 2px solid #D8D8D8;
  padding: 1em;
  box-shadow: 0px 0px 5px black;
}

ul {
  list-style-type: none;
}

#facts span {
  font-style: normal;
  font-weight: bold;
}

.animal-info {
  padding: 0px 5px;
  font-style: italic;
}

#card {
  border: 2px solid #D8D8D8;
}

#summary {
  padding: 0px 10px;
}